* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

Html, body{
    height:100%;
}
body{
    background-color: #faf8da;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.naslov{
    background-color: #fce3ce;
    display: table;
    position: absolute;
    top: 5%;
    left: 50%;
    font: 20px "Comic sans";
    transform: translate(-50%,-5%);
    width: 600px;
    height: 100px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #805d3f;
}

.lista{
    position: absolute;
    top: 40%;
    left: 50%;
    font: 20px "Helvetica";
    transform: translate(-50%,-40%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    max-height:250px;
    overflow-y:scroll;
}

#sah1{
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-20%,-5%);
    height: 170px;
    width: 170px;
}

#sah2{
    position: absolute;
    top: 5%;
    left: 80%;
    transform: translate(-80%,-5%);
    height: 170px;
    width: 170px;
}

#link{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 95%;
    left: 3%;
    transform: translate(-3%,-95%);
}

a:link {
    text-decoration: none;
    color: black;
  
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
    
}