* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: blue;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  

::-webkit-scrollbar-thumb {
    background: #888;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

Html, body{
    height:100%;
}
body{
    background-image: url("board.png");
}

.naslov{
    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-30%,-5%);
    width: 600px;
    height: 100px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h2{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.poruka p{
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-5%,-20%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

input[type="text"], [type="password"], [type="email"] {

    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; /* Add your own border */
    text-align: center;
    width: 200px;
    height: 25px;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;


}

input:focus-within {
    outline: none;
}

#txt1{
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; /* Add your own border */
    text-align: center;
    width: 250px;
    height: 25px;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%,-30%);
}


.gumb{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 78%;
    left: 90%;
    transform: translate(-90%,-78%);
}

.search_players{

    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 550px;
    height: 100px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

.lista{
    background-color: #faf8da;
    display: block;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 33%;
    transform: translate(-33%,-90%);
    width: 400px;
    height: 500px;
    border: 3px solid black;
    max-height:450px;
    overflow-y:scroll;
}

ul {
    list-style-type: none;
    position: absolute;
    top: -10%;
    left: -60%;
    transform: translate(60%,10%);
    width: 300px;
    height: 500px;  
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.video{

    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-80%,-50%);
    width: 350px;
    height: 370px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;

}

.list{
    display: block;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 40%;
    transform: translate(-33%,-90%);
}

.button {
    color: black;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;

    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-5%,-90%);

    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;

    background-color: #faf8da;
}

@media screen and (max-width: 550px){  

    .naslov{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-10%);
        width: 250px;
        height: 50px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    h1{
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .button {
        color: black;
        text-decoration: none;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    
        width: 100px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 2%;
        left: 90%;
        transform: translate(-90%,-2%);
    
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    
        background-color: #faf8da;
    }

    h3{
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .video{
        display: none;
    }

    .search_players{

        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-20%);
        width: 355px;
        height: 80px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    .gumb{
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 75%;
        left: 95%;
        transform: translate(-95%,-75%);
    }

    .gumb1{
        width: 100px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 2%;
        left: 10%;
        transform: translate(-10%,-2%);
    
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    
        background-color: #faf8da;
    }

    .lista{
        background-color: #faf8da;
        display: block;
        position: absolute;
        text-align: center;
        top: 65%;
        left: 40%;
        transform: translate(-40%,-65%);
        width: 330px;
        height: 330px;
        border: 3px solid black;
        /*border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;*/
        max-height:450px;
        overflow-y:scroll;
    }
}

@media (max-width: 770px) and (min-width: 551px)
{
    .naslov{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-10%);
        width: 250px;
        height: 50px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    h1{
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .button {
        color: black;
        text-decoration: none;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    
        width: 100px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 2%;
        left: 90%;
        transform: translate(-90%,-2%);
    
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    
        background-color: #faf8da;
    }

    h3{
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .video{
        display: none;
    }

    .search_players{

        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-20%);
        width: 355px;
        height: 80px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    .gumb{
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 75%;
        left: 95%;
        transform: translate(-95%,-75%);
    }

    .gumb1{
        width: 100px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 2%;
        left: 10%;
        transform: translate(-10%,-2%);
    
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    
        background-color: #faf8da;
    }

    .lista{
        background-color: #faf8da;
        display: block;
        position: absolute;
        text-align: center;
        top: 65%;
        left: 40%;
        transform: translate(-40%,-65%);
        width: 330px;
        height: 330px;
        border: 3px solid black;
        /*border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;*/
        max-height:450px;
        overflow-y:scroll;
    }
}

@media (max-width: 1024px) and (min-width: 771px)
{
    .naslov{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 5%;
        left: 37%;
        transform: translate(-30%,-5%);
        width: 600px;
        height: 100px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .button {
        color: black;
        text-decoration: none;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    
        width: 170px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 5%;
        left: 99%;
        transform: translate(-99%,-5%);
    
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    
        background-color: #faf8da;
    }

    h3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    

    .video{

        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 60%;
        left: 99%;
        transform: translate(-99%,-60%);
        width: 300px;
        height: 370px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    
    }

    .search_players{

        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-20%);
        width: 550px;
        height: 100px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    .gumb{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 75%;
        left: 90%;
        transform: translate(-90%,-75%);
    }
    
    .gumb1{
        width: 200px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 75%;
        left: 5%;
        transform: translate(-5%,-75%);
    
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    
        background-color: #faf8da;
    }

    .lista{
        background-color: #faf8da;
        display: block;
        position: absolute;
        text-align: center;
        top: 60%;
        left: 45%;
        transform: translate(-45%,-60%);
        width: 400px;
        height: 500px;
        border: 3px solid black;
        /*border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;*/
        max-height:450px;
        overflow-y:scroll;
    }

}

