* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: blue;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

Html, body{
    height:100%;
}
body{
    background-image: url("board.png");
}

.naslov{
    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 5%;
    left: 37%;
    transform: translate(-30%,-5%);
    width: 600px;
    height: 100px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h2{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h3{
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-5%,-5%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.poruka p{
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-5%,-20%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

input[type="text"], [type="password"], [type="email"] {

    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; /* Add your own border */
    text-align: center;
    width: 200px;
    height: 25px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(5%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 2px, #FFFFFF 25px);
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;


}

input:focus-within {
   /* background: #ddd;
    /*color: #ddd;*/
    outline: none;
}


#textbox{
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; /* Add your own border */
    text-align: left;
    width: 250px;
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#txt1{
    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; /* Add your own border */
    text-align: center;
    width: 250px;
    height: 25px;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%,-30%);
}



.gumb{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 78%;
    left: 90%;
    transform: translate(-90%,-78%);
}

.gumb1{
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 90%;
    left: 5%;
    transform: translate(-5%,-90%);

    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;

    background-color: #faf8da;
}

.gumb2{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.gumb3{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
}

.search_players{

    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 30%;
    left: 37%;
    transform: translate(-30%,-30%);
    width: 550px;
    height: 100px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

.lista{
    background-color: #faf8da;
    display: block;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 40%;
    transform: translate(-33%,-90%);
    width: 300px;
    height: 500px;
    border: 3px solid black;
    /*border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;*/
    max-height:450px;
    overflow-y:scroll;
}

ul {
    list-style-type: none;
    position: absolute;
    top: -10%;
    left: -60%;
    transform: translate(60%,10%);
    width: 300px;
    height: 500px;  
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
}



.ime{
    background-color: #faf8da;
    display: block;
    position: absolute;
    top: 40%;
    left: 34%;
    transform: translate(-34%,-40%);
    width: 200px;
    height: 50px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

.ime h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.chat{
    
    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%,-50%);
    width: 400px;
    height: 600px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;

}

.poruka{
    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 70%;
    left: 5%;
    transform: translate(-5%,-70%);
    width: 300px;
    height: 450px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
    
}

.video{

    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-80%,-50%);
    width: 350px;
    height: 370px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;

}

.list{
    display: block;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 40%;
    transform: translate(-33%,-90%);
}
