* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Html, body{
    height:100%;
}
body{
    background-image: url("board.png");
}


.login-content{
    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 500px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

.join-us{
    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    width: 500px;
    height: 600px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
    
}

h3{
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-5%,-40%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#sah{

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-90%);
    height: 200px;
    width: 300px;
}

h2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#login {
 
    display: table-cell;
    text-align: center;
    vertical-align: middle;
   
}

input[type="text"], [type="password"], [type="email"] {

    border:none; /* Get rid of the browser's styling */
    border-bottom:1px solid black; /* Add your own border */
    text-align: center;
    width: 200px;
    height: 25px;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

input:focus-within {
    outline: none;
}

form{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    padding-bottom: 16px;
}


.gumb{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-58%);
}

.gumb2{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-75%);
}


.gumb1{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
}

input{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.lista {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
}

.lista li{
    padding-bottom: 10px;
}

a:link {
    text-decoration: none;
    color: black;
  
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

img {
    width: 100%;
    height: auto;
  }


@media screen and (max-width: 550px){        
    .join-us{
       display: none;
    }
    /*.lista{display: none;}*/
    #vid{display: none;}

    .login-content{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-20%);
        width: 250px;
        height: 350px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    #por{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-90%);
        width: 277px;
        height: 100px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }
}

@media (max-width: 770px) and (min-width: 551px)
{
    .join-us{ 

        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-5%,-50%);
        width: 350px;
        height: 450px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;

    }

    .login-content{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-95%,-50%);
        width: 350px;
        height: 450px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    #vid{
        display:none;
    }
    
    #sah{
        width: 80%;
        height: 30%;
    }
}

@media (max-width: 1024px) and (min-width: 771px)
{

    .login-content{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 290px;
        height: 450px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }
    .join-us{ 

        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-5%,-50%);
        width: 290px;
        height: 450px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    #sah{
        width: 80%;
        height: 30%;
    }

    .lista{
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-60%);
    }

    #vid{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-95%,-50%);
        width: 290px;
        height: 450px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }

    h2{
        font-size: large;
    }

    #por{
        background-color: #faf8da;
        display: table;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-80%);
        width: 300px;
        height: 120px;
        border: 3px solid black;
        border-bottom-left-radius: 50px 40px;
        border-top-left-radius: 50px 40px;
        border-bottom-right-radius: 50px 40px;
        border-top-right-radius: 50px 40px;
    }
}

.poruka{

    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-93%);
    width: 350px;
    height: 150px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;
}

.video{

    background-color: #faf8da;
    display: table;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-80%,-50%);
    width: 400px;
    height: 600px;
    border: 3px solid black;
    border-bottom-left-radius: 50px 40px;
    border-top-left-radius: 50px 40px;
    border-bottom-right-radius: 50px 40px;
    border-top-right-radius: 50px 40px;

}

iframe {

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
}